.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 200px;
  height: 240px;
  transition: transform 0.05s ease-out;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Size Variants */
.sizeSm {
  width: 120px;
  height: 144px;
}

.sizeMd {
  width: 200px;
  height: 240px;
}

.sizeLg {
  width: 300px;
  height: 360px;
}

/* Breathing animation */
@keyframes breathe {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
}

.breathing {
  animation: breathe 3s ease-in-out infinite;
}

/* Blinking handled by JavaScript state changes */
